<footer class="page-footer footer-style-1 global_width">
<div class="holder bgcolor bgcolor-1 mt-0">
    <div class="container">
        <div class="row shop-features-style3">
            <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">Free worlwide delivery</div>
                        <div class="text2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a></div>
            <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-arrow-left-circle"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">100% money back guarantee</div>
                        <div class="text2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a></div>
            <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-call"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">24/7 customer support</div>
                        <div class="text2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a></div>
        </div>
    </div>
</div>
<div class="holder bgcolor bgcolor-2 py-5 mt-0">
    <div class="container">
        <div class="subscribe-form subscribe-form--style1">
            <form action="#">
                <div class="form-inline">
                    <div class="subscribe-form-title">subscribe to newsletter:</div>
                    <div class="form-control-wrap"><input type="text" class="form-control" placeholder="Enter Your e-mail address"></div><button type="submit" class="btn-decor">subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-top container">
    <div class="row py-md-4">
        <div class="col-md-4 col-lg">
            <div class="footer-block collapsed-mobile">
                <div class="title">
                    <h4>Customer Service</h4>
                    <div class="toggle-arrow"></div>
                </div>
                <div class="collapsed-content">
                    <ul>
                        <li><a href="terms-of-use.html">Terms of Use</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="faq.html">F.A.Q.</a></li>
                        <li><a href="contact.html">Contact Info</a></li>
                        <li><a href="account-create.html">Create Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg">
            <div class="footer-block collapsed-mobile">
                <div class="title">
                    <h4>My Account</h4>
                    <div class="toggle-arrow"></div>
                </div>
                <div class="collapsed-content">
                    <ul>
                        <li><a href="account-details.html">My Account</a></li>
                        <li><a href="cart.html">View Cart</a></li>
                        <li><a href="account-wishlist.html">My Wishlist</a></li>
                        <li><a href="account-history.html">Order Status</a></li>
                        <li><a href="account-history.html">Track My Order</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg">
            <div class="footer-block collapsed-mobile">
                <div class="title">
                    <h4>Information</h4>
                    <div class="toggle-arrow"></div>
                </div>
                <div class="collapsed-content">
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Our Portfolio</a></li>
                        <li><a href="faq.html">How to buy</a></li>
                        <li><a href="category.html">Arrival Sales</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-3">
            <div class="footer-block collapsed-mobile">
                <div class="title">
                    <h4>contact us</h4>
                    <div class="toggle-arrow"></div>
                </div>
                <div class="collapsed-content">
                    <ul class="contact-list">
                        <li><i class="icon-phone"></i><span><span class="h6-style">Call Us:</span><span>1 (800) 233-2742</span></span></li>
                        <li><i class="icon-clock4"></i><span><span class="h6-style">Hours:</span><span>Mon-fri 9am-8pm<br>sat 9am-6pm</span></span></li>
                        <li><i class="icon-mail-envelope1"></i><span><span class="h6-style">E-mail:</span><span><a href="mailto:info@goodwin.us">info@goodwin.us</a></span></span></li>
                        <li><i class="icon-location1"></i><span><span class="h6-style">Address:</span><span>goodwin store 140 new str., suite 21 brooklyn, NY</span></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom container">
    <div class="row lined py-2 py-md-3">
        <div class="col-md-2 hidden-mobile"><a href="#">
        <%= image_tag "logo-footer-dark.png", class: "img-fluid" %>
        </a></div>
        <div class="col-md-6 col-lg-5 footer-copyright">
            <p class="footer-copyright-text"><span>© Copyright</span> 2019 <a href="#">GoodwinStore</a>. <span>All rights reserved.</span></p>
            <p class="footer-copyright-links"><a href="">Terms & conditions</a> <a href="">Privacy policy</a></p>
        </div>
        <div class="col-md-auto">
            <div class="payment-icons">
            <%= image_tag "payment/payment-card-visa.png", class: "lazyload" %>                                                    </a></div>
            <%= image_tag "payment/payment-card-mastecard.png", class: "lazyload" %>  
            <%= image_tag "payment/payment-card-discover.png", class: "lazyload" %>  
            </div>
        </div>
        <div class="col-md-auto ml-lg-auto">
            <ul class="social-list">
                <li><a href="#" class="icon icon-facebook"></a></li>
                <li><a href="#" class="icon icon-twitter"></a></li>
                <li><a href="#" class="icon icon-google"></a></li>
                <li><a href="#" class="icon icon-instagram"></a></li>
                <li><a href="#" class="icon icon-youtube"></a></li>
            </ul>
        </div>
    </div>
</div>
</footer><a class="back-to-top js-back-to-top compensate-for-scrollbar" href="#" title="Scroll To Top"><i class="icon icon-angle-up"></i></a>

